body {
  >main {
    .progress-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      background: #38bdf8;
      transform-origin: 0%;
      z-index: 100;
    }

    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 16px;
      margin-top: 40px;
    }

    .card {
      background: #1e293b;
      border: 1px solid #334155;
      padding: 30px;
      border-radius: 12px;
      text-align: center;
      font-weight: bold;
      opacity: 0;
      /* Pre-hide for animation */
      cursor: pointer;
    }

    /* Spacer to allow scrolling */
    .spacer {
      height: 60vh;
    }

    /* Reveal Box */
    .reveal-box {
      background: #334155;
      padding: 40px;
      border-radius: 16px;
      opacity: 0;
      /* Pre-hide for animation */
    }
  }
}